<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./img/icon.svg" >
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/style.css" />
  <title>Sobre</title>
</head>
<body>
  <style>
    .main-container {
      padding: 50px;
    }
  </style>
  <div class="main-content" >
    {{>header}}

    <div class="main-container">

      <p style="margin-top: 5%;" >
        Este site foi criado por
        <a target="_blank" href="https://potatosenior.github.io/Me/">João Pedro</a>
        com o objetivo de estudo da tecnologia NodeJS.
      </p>

    </div>
  </div>
  {{>footer}}
  <div class="clouds" style="background-image: url(./img/cloud.png);"></div> 
</body>
</html>