<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300&display=swap" rel="stylesheet">
  <link rel="icon" href="./img/icon.svg">
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/index.css" />
  <title>Inicio</title>
</head>
<body>
  <div class="main-content" >
    {{>header logged}}

    <div class="main-container">
      <h1>Crie e gerencie tarefas a fazer em poucos cliques!</h1>

      <img src="./img/task-manager.png"/>

      <h2>Comece agora mesmo!<a href="/login"> Entrar.</a></h2>
    </div>

  </div>
  {{>footer}}
</body>
</html>